hr {
    border: none;
    border-top: 3px double #333;
    color: blueviolet;
    overflow: visible;
    text-align: center;
    height: 5px;
}
  
hr::after {
    background-color: blueviolet;
    content: '§';
    color: black;
    padding: 0 4px;
    border-radius: 50%;
    position: relative;
    top: -20px;
}

.user-img {
    width: 96px;
}

.addcomment {
    max-height: 300px;
    min-height: 98px;
}