h1 {
    margin-bottom: 32px;
}

#user-profile-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.user-image-h1-container {
    min-width: 600px;
}

.user-image-container {
    text-align: center;
}

.inputs-container {
    width: 60%;
    margin-top: 12px;
}

.inputs-container > * {
    margin-bottom: 24px;
}

.inputs-container input, .inputs-container textarea {
    display: block;
    padding: 8px 16px;
    border: 1px solid lightgray;
    resize: none;
    max-width: 100%;
    min-width: 300px;
    width: 100%;
}

.inputs-container textarea {
    min-height: 400px;
}

.inputs-container button {
    float: right;
}

