@{
    ViewData["Title"] = "About us";
}

<link rel="stylesheet" href="~/css/home/about.css">

<div class="container text-center">
    <img src="/images/logo.jpg" alt="logo" class="img-fluid mb-3 rounded shadow-sm">
    <h1 class="py-2">TechTales - Blog about technology, sports, music and more.</h1>
    <hr class="mx-auto" style="opacity: 1;width: 150px; height: 5px; background-color: blueviolet;">
    <p style="text-align: justify;" class="lead">Welcome to TechTales, your source of inspiration and knowledge in various fields! Here you will find the latest news, interesting articles, in-depth analysis and personal stories on technology, sports, music, culture and much more. Our blog is created for those who want to learn new things and share their knowledge with others.</p>
    <p class="lead">Join our community and stay on top of innovation, sports, music, and culture with TechTales!</p>
    <div class="d-flex justify-content-center">
        <a href="/Home/Index" class="btn-primary px-4 btn text-white me-2 ">Home</a>
        <a href="/Authorization/Signup" class="btn-secondary px-4 btn btn-outline text-white">Sign up</a>
    </div>
</div>