@{
    ViewData["Title"] = "Forbidden";
    Layout = "_ErrorLayout";
}

<link rel="stylesheet" href="~/css/error/error.css">

<div class="error-container">
    <h1>403</h1>
    <h3>Forbidden</h3>
    <p>Sorry, you don't have permission to access this page.</p>
    <a href="/" class="btn outline-box-shadow bg-blueviolet text-white">Go to Home</a>
</div>