@{
    ViewData["Title"] = "Internal Server Error";
    Layout = "_ErrorLayout";
}

<link rel="stylesheet" href="~/css/error/error.css">

<div class="error-container">
    <h1>500</h1>
    <h3>Internal Server Error</h3>
    <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
    <a href="/" class="btn outline-box-shadow bg-blueviolet text-white">Go to Home</a>
</div>