.input-block, .input-block input, .input-block button {
    border-radius: 32px;
    background-color: transparent;
}

.input-block {
    background: url("/images/magnifier_glass.svg") no-repeat left;
    padding-left: 42px;
    background-size: 24px;
    background-position: 16px center;
    
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
}

.input-block input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border:none;
    padding: 8px 16px;
}
  
  /* remove the input focus blue box, it will be in the wrong place. */
.input-block input:focus {
    outline: none;
}
  
.input-block:hover {
    box-shadow: 0 0 16px blueviolet;
}

  /* Add the focus effect to the form so it contains the button */
.input-block:focus-within { 
    box-shadow: 0 0 32px blueviolet;
}

.blog-title-content {
    text-align: justify;
}

.blog-time-user img {
    width: 108px;
    height: 108px;
}

.sidepanel {
    min-width: 250px;
}

.blog-pagination a.active-pagination {
	background-color: blueviolet;
	color: var(--text-color);
    pointer-events: none;
}

.blog-pagination a:hover:not(.active-pagination) {
    background-color: var(--text-color);
    color: black;
}

.blog-pagination li {
    display: inline;
}

.blog-pagination a {
    border-radius: 12px;
    padding: 8px 16px;
}