h1 {
    text-transform: uppercase;
    padding: 16px 0;
    font-size: 36px;
}

/* .authorization-form-container form button {
    color:white;
    background-color: black;
    border-radius: 32px;
    padding: 16px 0;
    margin: 16px 0 32px 0;
    width: 100%;
    text-transform: uppercase;
} */

.authorization-form-container form {
    padding: 32px 0;
    width: 40%;
    padding-left: 64px;
}

.authorization-form-container > div img {
    width: 700px;
    height: 100%;
}

.authorization-form-container {
    background-color: #d9d9d9;
    overflow: hidden;
    font-size: 18px;
}

.logo-container {
    padding-bottom: 64px;
}

.logo-container img {
    width: 200px;
}

.inputs-container > * {
    margin-bottom: 32px;
}

.forgot-password {
    text-align: left;
    padding-top: 16px;
    padding-left: 14px;
}