html, body {
  height: 100%;
  font-size: 18px;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer {
  line-height: 60px;
  background-color: var(--pc);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--pc) inset !important;
}

.validation-summary-errors > ul > li {
  color: darkblue;
}

.blueviolet-hover:hover {
  color: #c586ff;
}

.bg-blueviolet {
  background-color: blueviolet;
}

.bg-blue {
  background-color: blue;
}

.outline-border {
  box-shadow: 0 0 6px blueviolet;
}

.outline-box-shadow:focus {
  box-shadow: 0 0 0 2px white,0 0 0 4px blueviolet;
	outline: 2px solid transparent !important;
}

.text-blueviolet {
  color: blueviolet;
}

.text-blueviolet:hover {
  color: rgb(170, 78, 255);
}

.no-data {
  background-color: #f8f9fa; /* Лёгкий серый фон */
  border: 2px dashed #6c757d; /* Декоративная пунктирная граница */
  border-radius: 0.5rem; /* Более округлые края */
  color: #6c757d; /* Текстовое оформление (светло-серый) */
  font-style: italic; /* Наклонный текст */
  padding: 1.5rem; /* Пространство вокруг текста */
  text-align: center; /* Выравнивание по центру */
  margin: 0 auto; /* Выравнивание по центру страницы */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень для акцента */
}

.ws-pl {
  white-space: pre-line;
}

.ws-nw {
  white-space: nowrap;
}

.size-200-fit-cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.size-50-fit-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Base input block with button */

.input-block {
  background: url("/images/magnifier_glass.svg") no-repeat left;
  padding-left: 42px;
  background-size: 24px;
  background-position: 16px center;
  
  /* This bit sets up the horizontal layout */
  display:flex;
  flex-direction:row;
}

.input-block input {
  /* Tell the input to use all the available space */
  flex-grow:2;
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
  padding: 8px 16px;
}

.input-block input:focus {
  outline: none;
}

.input-block:focus-within {
	box-shadow: 0 0 0 2px white,0 0 0 4px blueviolet;
	outline: 2px solid transparent !important;
}

/* Base pagination */

.blog-pagination a.active-pagination {
  background-color: blueviolet;
  color: white;
  pointer-events: none;
}

.blog-pagination a:not(.active-pagination) {
  color: black;
}

.blog-pagination a:hover:not(.active-pagination) {
  background-color: rgb(226, 226, 226);
}

.blog-pagination a {
  border-radius: 12px;
  padding: 8px 16px;
}

.blog-pagination a.disabled-pagination {
  pointer-events: none;
  color: gray;
}

/* checkbox */

.checkbox-blueviolet {
  width: 24px;
  height: 24px;
  accent-color: blueviolet;
}