@using TechTales.Helpers;
@{
    ViewData["Title"] = "Blog";
}

<link rel="stylesheet" href="~/css/blog.css">

<div>
    <div class="d-flex justify-content-between blog-sidepanel-container">
        <div class="blog-container">
            <h1 class="text-center">'[Blog Title]'</h1>
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolore labore aliquid ab corporis, sapiente fugit voluptatum,
                recusandae a animi minus cum laudantium excepturi nam soluta
                sed officiis atque consectetur pariatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolore labore aliquid ab corporis, sapiente fugit voluptatum,
                recusandae a animi minus cum laudantium excepturi nam soluta
                sed officiis atque consectetur pariatur.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolore labore aliquid ab corporis, sapiente fugit voluptatum,
                recusandae a animi minus cum laudantium excepturi nam soluta
                sed officiis atque consectetur pariatur.
            </p>
            <p>
                <span class="fw-bold">Categories:</span> Sport, Movie
            </p>
            <p>
                <span class="fw-bold">Tags:</span> #myblog, #blog
            </p>
        </div>
        <div class="sidepanel">
            <ul>
                <li>
                    <a href="">Popular blogs</a>
                </li>
                <li>
                    <a href="">Categories</a>
                </li>
                <li>
                    <a href="">Tags</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="author-img-container">
        <a asp-action="Details" asp-controller="Profile">
            <img class="user-img rounded-image" src="~/images/dante.png" />
        </a>
        <div>
            <p>
                <a asp-action="Details" asp-controller="Profile">
                    Dante
                </a>
            </p>
            <p>
                01/08/2005
            </p>
        </div>
    </div>
    <div class="comments-container">
        <p class="fs-3">Comments</p>
        <ol class="comments-list">
            <li>
                <div>
                    <div class="space-between">
                        <div>
                            <a asp-action="Details" asp-controller="Profile">
                                <div class="commentator-avatar">
                                    <img class="user-img rounded-image" src="~/images/vergil.png" />
                                    <span>Vergil</span>
                                </div>
                            </a>
                        </div>
                        @Html.EditBlogButtons()
                    </div>
                    <p class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis commodi illum deleniti, et sequi placeat aliquam mollitia provident distinctio facere molestiae, similique quaerat libero nisi inventore. Cum possimus sequi ducimus.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <div class="space-between">
                        <div>
                            <a asp-action="Details" asp-controller="Profile">
                                <div class="commentator-avatar">
                                    <img class="user-img rounded-image" src="~/images/dante.png" />
                                    <span>Dante</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <p class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis commodi illum deleniti, et sequi placeat aliquam mollitia provident distinctio facere molestiae, similique quaerat libero nisi inventore. Cum possimus sequi ducimus.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <div class="space-between">
                        <div>
                            <a asp-action="Details" asp-controller="Profile">
                                <div class="commentator-avatar">
                                    <img class="user-img rounded-image" src="~/images/vergil.png" />
                                    <span>Vergil</span>
                                </div>
                            </a>
                        </div>
                        @Html.EditBlogButtons()
                    </div>
                    <p class="comment-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis commodi illum deleniti, et sequi placeat aliquam mollitia provident distinctio facere molestiae, similique quaerat libero nisi inventore. Cum possimus sequi ducimus.
                    </p>
                </div>
            </li>
        </ol>
        <div class="addcomment-container">
            <div class="space-between">
                <a asp-action="Details" asp-controller="Profile">
                    <div class="commentator-avatar">
                        <img class="user-img rounded-image" src="~/images/vergil.png" />
                    </div>
                </a>
                <textarea class="addcomment" type="text" placeholder="Add a comment..."></textarea>
            </div>
            @Html.RoundedButton("Submit", margin: "16px 0 0 auto")
        </div>
    </div>
</div>