@using TechTales.Helpers;
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/authorization.css" />

<div class="space-between text-center authorization-form-container">
    <form>
        <div class="text-center logo-container">
            <h1>Welcome</h1>
            <img src="~/images/logo.svg" alt="logo" />
        </div>
        <div class="inputs-container">
            @Html.UnderlineInput("email", "email", "Email", required: true)
            @Html.UnderlinePasswordInput("password", "Password", "input-password", true, "eye-password")
        </div>
        <p class="forgot-password">
            <a href="#">Forgot password?</a>
        </p>
        @Html.RoundedButton("Log in", padding: "16px 0", width: "100%", margin: "16px 0 32px 0")
        <p>
            Don't have an account? <span><a href="Signup">Sign up</a></span>
        </p>
    </form>
    <div>
        <img src="~/images/login_banner.webp" />
    </div>
</div>

<script src="~/js/authorization.js" asp-append-version="true"></script>