@model LoginViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Log in";
}

<div class="mx-auto col-lg-4 bg-light shadow-sm py-4 px-5 border rounded">
    <form method="post" autocomplete="off" action="/Authorization/Login">
        @Html.AntiForgeryToken()
        <div class="text-center pb-5">
            <h1 class="mb-4">Log in</h1>
            <img src="/images/logo.jpg" alt="logo" width="200">
        </div>
        <div class="fw-bold">

            <div class="mb-3">
                <input type="text" class="outline-box-shadow form-control" placeholder="Username/Email" aria-label="Username/Email" required="" data-val="true" data-val-maxlength="Username must be less than 50 symbols" data-val-maxlength-max="50" data-val-required="The UserNameOrEmail field is required." id="UserNameOrEmail" maxlength="50" name="UserNameOrEmail" value="">
            </div>

            <div class="mb-3">
                <input type="password" class="outline-box-shadow form-control" placeholder="Password" aria-label="Password" required="" data-val="true" data-val-required="The Password field is required." id="Password" name="Password">
            </div>

        </div>

        <p class="mb-3 text-end">
            <a class="text-blueviolet" href="#">Forgot password?</a>
        </p>

        <div class="d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>

        <p class="text-center">
            Don't have an account? <span><a href="Signup" class="text-blueviolet">Sign up</a></span>
        </p>
    </form>
</div>