@model SignupViewModel;
@using TechTales.Helpers;
@{
    ViewData["Title"] = "Sign up";
}

<div class="mx-auto col-lg-4 bg-light shadow-sm py-4 px-5 border rounded">
    <form method="post" autocomplete="off" action="/Authorization/Signup">
        @Html.AntiForgeryToken()
        <div class="text-center pb-5">
            <h1 class="mb-4">Sign up</h1>
            <img src="/images/logo.svg" alt="logo" width="200">
        </div>
        <div class="fw-bold">

            <div class="mb-3">
                <input asp-for="UserName" type="text" class="outline-box-shadow form-control" placeholder="Username" aria-label="Username" autocomplete="one-time-code" required>
            </div>

            <div class="mb-3">
                <input asp-for="Email" type="email" class="outline-box-shadow form-control" placeholder="Email" aria-label="Email" autocomplete="one-time-code" required>
            </div>

            <div class="mb-3">
                <input asp-for="Password" type="password" class="outline-box-shadow form-control" placeholder="Password" aria-label="Password" autocomplete="one-time-code" required>
            </div>

            <div class="mb-3">
                <input asp-for="RepeatPassword" type="password" class="outline-box-shadow form-control" placeholder="Repeat password" aria-label="Repeat password" autocomplete="one-time-code" required>
            </div>

        </div>

        <p class="mb-3 text-end">
            <a class="text-blueviolet" href="#">Forgot password?</a>
        </p>

        <div class="d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary px-4">Submit</button>
        </div>

        <p class="text-center">
            Don't have an account? <span><a href="Login" class="text-blueviolet">Log in</a></span>
        </p>
    </form>
</div>